<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma Senha</label>
    <input type="password" name="password" id="room-pass" placeholder="Insira uma Senha" />
    <br />
    <button>
      <img src="/images/users-white.svg" alt="Criar Sala" />
      Criar Sala
    </button>
  </form>
</section>
