<div class="no-questions"><img src="/images/noquestion.svg" alt="Sem Perguntas">
<p>Nenhuma pergunta por aqui...</p>
<p>faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas!</p></div>